<%- include('partials/header') %>
    <%- include('partials/header') %>
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="row">
                <%- include('partials/navbar') %>


                <%- include('partials/carousel') %>


<%- include('partials/footer') %>